@use "_palette" as pl;

$breakpoint: 480px; // width breakpoint switching the layout for smart-phone

.app {
  display: grid;
  height: 100vh;
  box-sizing: border-box;
  grid-template-columns: 1fr;
  grid-template-rows: 4.5rem 1fr;
  grid-template-areas:
    "header"
    "wrapper";
  @media screen and (max-width: #{$breakpoint}) {
    grid-template-rows: 7.0rem 1fr;
  }
}

header {
  grid-area: header;
  background: pl.$fl-cover;
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
  & > a {
    text-decoration: none;
    height: inherit;
    padding-top: 1.5rem;
    padding-left: 0.8rem;
    h1 {
      color: pl.$st-cover;
      font-size: 1.5rem;
      font-weight: 600;
      margin: 0;
    }
  }

  nav {
    display: flex;
    height: inherit;
    a { // each entry
      color: pl.$st-cover;
      list-style: none;
      height: inherit;
      margin-left: 1rem;
      padding: 2rem 1rem 0 1rem;
      text-decoration: none;
    }
    .on { // the page is currently previewed
      border-bottom: solid pl.$fl-highlight 0.6rem;
    }
  }

  @media screen and (max-width: #{$breakpoint}) {
    flex-direction: column;
    padding: 0;
    & > a {
      height: 3.5rem;
      padding-top: 1.4rem;
      padding-left: 0;
      text-align: center;
      background: pl.$fl-cover;
      h1 {
        font-size: 1.4rem;
      }
    }
    nav {
      height: 3.0rem;
      justify-content: center;
      a {
        box-sizing: border-box;
        height: inherit;
        padding-top: 0.8rem;
      }
    }
  }
}

.wrapper {
  grid-area: wrapper;
  overflow-y: auto; // make the page scroll in this area

  // inner grid
  display: grid;
  height: 100%;
  box-sizing: border-box;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4rem;
  grid-template-areas:
    "main"
    "footer";
}

main {
  grid-area: main;
  background: pl.$fl-main;
  color: pl.$st-main;
}

footer {
  grid-area: footer;
  background: pl.$fl-cover;
  color: pl.$st-cover-sub;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

