@use "./../palette" as pl;
@use "./../common/view";

.wrapper {
  @include view.wrapper;
}

.contact {
  display: flex;
  margin-top: 0.6rem;
  margin-bottom: 2.2rem;

  & > div {
    margin-right: 5px;
    position: relative;
    & > a {
      cursor: pointer;
    }

    & > .mask {
      z-index: 19;
      position: fixed;
      opacity: 0;
      top: 0; left: 0; bottom: 0; right: 0;
    }
    & > .callout {
      position: absolute;
      top: 46px;
      color: pl.$st-rev;
      background: pl.$fl-rev;
      padding: 0.6rem;
      font-size: 0.8rem;
      z-index: 20;

      &:before {
        position: absolute;
        top: -18px;
        left: 8px;
        border: 10px solid transparent;
        border-bottom: 10px solid pl.$fl-rev;
        content: "";
      }
    }
  }

}


